/*
stylelint-disable indentation,
  at-rule-empty-line-before
*/
@font-face {
  font-family: 'chianti_bdit_btbold_italic';
  src: url('vendors/fonts/chianti-bdit-bt-bold-italic-webfont.woff2') format('woff2'),
       url('vendors/fonts/chianti-bdit-bt-bold-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
